# U.S. Medical Insurance Costs

## Introducing the Project

**Insurance.csv Categories**
- age
- sex
- bmi
- number of children
- smoker/non-smoker
- region
- charges


**What questions are we interested in answering?**
- Find out the average age of the patients in the dataset.
- Analyze where a majority of the individuals are from.
- Look at the different costs between smokers vs. non-smokers.
- Figure out what the average age is for someone who has at least one child in this dataset
- Find the average number of cihldren for different age groupings


### Initializing the Data

First, we import the necessary packages for analysis and create a pandas dataframe to begin organizing the dataset.

By utilizing the head function, from the pandas library, we can gather an idea of what the dataset currently looks like.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

insurance_data = pd.read_csv("insurance.csv")
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Answering the Important Questions

In [ ]:
# Finding the Average Age of the Patients

average_age = insurance_data['age'].mean()
print('The average age of the patients is {}'.format(average_age))

# Where Are the Majority of Patients From

print(insurance_data['region'].value_counts())

The average age of the patients is 39.20702541106129
region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64